---
layout: default
image: /images/fulls/01.jpg
---

<section>
  <h1>About Me</h1>
  <div>
    I'm a software developer living in Vancouver, BC. I use:

    <ul>
    <li>Ruby on Rails</li>
    <li>MySql</li>
    <li>Javascript</li>
    </ul>

    Currently working at <a href="https://www.clio.com/">Clio!</a>
    <div style="font-size: 0.5em;display:inline;">(We're hiring)</div>
  </div>
</section>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <section>
    <h2><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h2>
    <p>
      <span><i class="fa fa-calendar"></i> {{ post.date | date: "%d %B %Y" }}{% if post.categories %} on <i class="fa fa-tags"></i> {{ post.categories | join: ', ' }}{% endif %}</span>
    </p>
    <div>
      {{ post.excerpt }}
    </div>
  </section>
{% endfor %}

{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<section>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  {% endif %}
  <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</section>
{% endif %}
